*, *::before, *::after {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);*/
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  min-height: 100vh;
}

.signup, .login {
}

.nav {
  /*position: absolute;*/
  top: 0;
}

.nav li.navigation {
  display: inline;
  float: left;
}

.nav ul.navigation {
  background-color: #dddddd;
}

.nav a.navigation {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.main {

}

.signup, .login {
  position: relative;
  width: 350px;
  height: 500px;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);*/
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.signup div.text {
  color: #e0dede;
  display: flex;
  justify-content: center;
}

.signup label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.signup input, .login input {
  width: 80%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signup button, .login button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  /*margin-top: 20px;*/
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.signup button:hover, .login button:hover {
  background: #6d44b8;
}

div.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
}

label.login {
  color: #573b8a;
  transform: scale(.6);
}

.form {
  display: grid;
  grid-template-columns: 200px 1fr;
}