*, *::before, *::after {
  box-sizing: border-box;
}

body {
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.nav {
  top: 0;
}

.nav li.navigation {
  display: inline;
  float: left;
}

.nav ul.navigation {
  background-color: #dddddd;
}

.nav a.navigation {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.main {

}

.signup, .login {
  display: block;
}

.signup div.text {
}

.signup label {
}

.signup input, .login input {
}

.signup button, .login button {
}

.signup button:hover, .login button:hover {
}

div.login {
}

label.login {
}

form {
  display: grid;
  grid-template-columns: 200px 1fr;
}

button {
  float: right;
  width: 100%;
}